{% extends "base.html.twig" %}

{% block body %}
    <div class="container">

        <div class="col-12 col-md-12 mt-4 mt-md-2">
            <div class="row">

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary mt-md-3">Submit</button>

                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}