{% extends "./base.html.twig" %}

{% block body %}
    <div class="col-12 col-md-12 mt-4 mt-md-4">
        <div class="row mb-4">

            <div class="col">
                <div class="text-center pt-8 pb-4 mb-5">
                    <img src="{{ article.image }}" alt="" width="500"/>

                    <h1 class="mb-4 mt-4">{{ article.title }}</h1>

                    <h6 class="mb-4">{{ article.description }}</h6>

                    <p>
                        {{ article.content }}
                    </p>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
